<div class="row" style="height:100px ;">

</div>

<div class="row">
    <div class="col-lg-2">

    </div>

    <!-- Courses -->
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="height: 220px;border-radius: 0px;cursor: pointer;" (click)="showCourses('arabic')">
                    <img src="assets/320192813228911887628.jpg" class="card-img-top"
                        style="height:170px;border-radius: 0px;" alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">Arabic Language</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="height: 220px;border-radius: 0px;cursor: pointer;" (click)="showCourses('eng')">
                    <img src="assets/its_time_to_learn_english.jpg" class="card-img-top"
                        style="height:170px;border-radius: 0px;" alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">English Language</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="height: 220px;border-radius: 0px;cursor: pointer;" (click)="showCourses('math')">
                    <img src="assets/maths.jpg" class="card-img-top"
                        style="height:170px;border-radius: 0px;" alt="...">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">Mathmatics</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
</div>