
<div class="container-fluid" class="border border-danger">

  <div class="" style=" background-color:#882323;">
    <div class="row ">
      <h2 class="mx-auto text-white" style="margin-top: 20px;">
        ساهم بشرح دروس تعليمية بأسلوبك وساعد الملايين من الطلاب
      </h2>
    </div>

    <div class="row">
      <!-- Courses -->
      <div class="col-lg-10  mx-auto" style="margin-bottom: 50px;">
        <div class="row">
          <div class="col-lg-4">
            <div class="card "
              style="background-color:#882323;color: white; border-color: gray; height: 170px;border-radius: 10px;cursor: pointer;"
              (click)="showCourses('arabic')">
              <img src="assets/320192813228911887628.jpg" class="card-img-top" style="height:120px;border-radius: 0px;"
                alt="...">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Arabic Language</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card "
              style="background-color:#882323;color: white; border-color: gray; height: 170px;border-radius: 10px;cursor: pointer;"
              (click)="showCourses('eng')">
              <img src="assets/its_time_to_learn_english.jpg" class="card-img-top"
                style="height:120px;border-radius: 0px;" alt="...">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">English Language</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card "
              style="background-color:#882323;color: white; border-color: gray; height: 170px;border-radius: 10px;cursor: pointer;"
              (click)="showCourses('math')">
              <img src="assets/maths.jpg" class="card-img-top" style="height:120px;border-radius: 0px;" alt="...">
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Mathmatics</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


  <div class="" style="">
    <div class="row border">
      <h2 class="mx-auto border" >
        اسال واجب
        <i class="far fa-comment-alt" style="font-size: 40px;">
          <i class="fas fa-question" style="font-size: 20px;"></i>
        </i>
      </h2>


    </div>
    <div class="row border">
      <h4 class="mx-auto text-muted border " style="width: 82%;">
        مساحة خاصة لطرح الأسئلة المتعلقة بالمناهج الدراسية وتبادل الخبرات بين الطلاب والمعلمين وسائل الإجابة عليها.
      </h4>
      
    </div>

    <div class="row border" style="font-size: xx-large;">
      <div class="col-4 mx-auto">
      <button class="btn btn-info">اضافه الاسئله  </button> <button class="btn btn-link" style="text-decoration: none;">بإمكانك تصفح الأسئلة أو </button> 
    </div>
    </div>

    <div class="row d-flex justify-content-around" style="margin-top: 50px;">
      <div class="col-3 rounded" style="height: 130px;background-color: #f7f7f7;border:solid 1px  #e3e3e3;  box-shadow: 7px 7px 8px #bdb6b6; transform: rotate(-8deg);">
      <p style="float: right;">  السوال الاول</p>
      <i style="float: right;" class="far fa-user-circle text-info"></i>
      </div>
      <div class="col-3 rounded" style="height: 130px;background-color: #f7f7f7;border:solid 1px  #e3e3e3;  box-shadow: 7px 7px 8px #bdb6b6; transform: rotate(-8deg);">السوال الاول </div>
      <div class="col-3 rounded" style="height: 130px;background-color: #f7f7f7;border:solid 1px  #e3e3e3;  box-shadow: 7px 7px 8px #bdb6b6; transform: rotate(-8deg);">السوال الاول </div>


    </div>

    <div class="row d-flex justify-content-around" style="margin-top: 200px;">
      <div class="col-3" style="height: 100px;background-color: gray;">1</div>
      <div class="col-3" style="height: 100px;background-color: gray;">1</div>
      <div class="col-3" style="height: 100px;background-color: gray;">1</div>

    </div>

  </div>
</div>